<!-- views/devices/add_device.ejs -->
<% title = 'Thêm Thiết Bị Mới' %>

<main class="container mt-5">
  <h2 class="text-primary mb-4">
    <i class="bi bi-plus-square"></i> Thêm Thiết Bị Mới
  </h2>

  <form action="/devices/add" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Tên thiết bị:</label>
      <input type="text" class="form-control" name="name" id="name" required />
    </div>
    <div class="mb-3">
      <label for="type" class="form-label">Loại thiết bị:</label>
      <select class="form-select" name="type" id="type" required>
        <option value="intrusion">Phát Hiện Xâm Nhập</option>
        <option value="fire_smoke">Cảnh Báo Cháy Và Khói</option>
        <option value="access_control">Kiểm Soát Truy Cập</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">
      <i class="bi bi-plus-circle"></i> Thêm Thiết Bị
    </button>
  </form>
</main>
