<!-- views/login.ejs -->
<% title = 'Đăng Nhập' %> <% title = 'Đăng Nhập' %>

<main class="container my-5">
  <h2 class="text-primary text-center mb-4">
    <i class="bi bi-box-arrow-in-right"></i> Đăng Nhập
  </h2>
  <form
    action="/login"
    method="POST"
    class="mx-auto bg-light shadow p-4 rounded"
    style="max-width: 400px"
  >
    <div class="mb-3">
      <label for="email" class="form-label"
        ><i class="bi bi-envelope"></i> Email:</label
      >
      <input
        type="email"
        name="email"
        id="email"
        required
        class="form-control"
        placeholder="Nhập email của bạn"
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label"
        ><i class="bi bi-lock"></i> Mật khẩu:</label
      >
      <input
        type="password"
        name="password"
        id="password"
        required
        class="form-control"
        placeholder="Nhập mật khẩu của bạn"
      />
    </div>

    <button type="submit" class="btn btn-primary w-100">
      <i class="bi bi-box-arrow-right"></i> Đăng Nhập
    </button>
  </form>
  <p class="text-center mt-3">
    Bạn chưa có tài khoản?
    <a href="/register" class="text-decoration-none text-primary">Đăng ký</a>
  </p>
</main>
